@import "tailwindcss";
@import "../../../packages/components/src/theme.css";

@source "../../../packages/components/src/**/*.tsx";

@layer base {
	* {
		border-color: var(--color-border);
	}

	body {
		font-feature-settings: "rlig" 1, "calt" 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
